<% provide(:title, 'All users') %>
<h1>All users in Transaction System</h1><br>

<p><%= link_to "Transfer Fund", transfer_user_path(@users.first), class: "btn btn-large btn-primary" %></p>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <% next if user.existence == false || user.admin == true%>
    <li>
      <%= gravatar_for user %>
      <%= link_to user.name, balance_user_path(user) %>
      <% if current_user.admin? && !current_user?(user) %>
    | <%= user.email %>  
  <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>



